<html>
  <head></head>
  <body class='desktop_body'>
    <div class='dashboard_shade'>
    <% if can? :create, @desktop %>
      <%= link_to 'New Desktop', new_desktop_path,  :class => "btn btn-outline-warning mt-4"%>
    <%end%>
      <hr/> 
      <div class='bg-warning shadow-lg'>
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th scope="col">Employee_ID</th>
              <th scope="col">Asset_number</th>
              <th scope="col">Name</th>
              <th scope="col">MAC_address</th>
              <th scope="col">Comment</th>
              <th scope="col"> Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @desktops.each do |desktop| %>
              <tr>
                <td><%= desktop.emp_id %></td>
                <td><%= desktop.asset_num %></td>
                <td><%= desktop.name %></td>
                <td><%= desktop.MAC_address %></td>
                <td><%= desktop.comment %></td>
                <td><%= link_to " View", desktop_path(desktop), :class => 'fa fa-eye btn btn-sm btn-info'%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>