<div class='container mt-5'>
  <div class="shadow p-3 mb-5 bg-white rounded text-secondary">
    <p class="list-group-item list-group-item-success">
      <strong>Employee ID:</strong>
      <%= @desktop.emp_id %>
    </p>
    
    <p class="list-group-item list-group-item-warning">
      <strong>Asset number:</strong>
      <%= @desktop.asset_num %>
    </p>

    <p class="list-group-item list-group-item-warning">
      <strong>Name:</strong>
      <%= @desktop.name %>
    </p>

    <p class="list-group-item list-group-item-warning">
      <strong>MAC Address:</strong>
      <%= @desktop.MAC_address %>
    </p>

    <p class="list-group-item list-group-item-warning">
      <strong>Comment:</strong>
      <%= @desktop.comment %>
    </p>

    <%= link_to " Edit", edit_desktop_path(@desktop), :class => 'fa fa-edit btn btn-sm btn-dark'%>
    <%= link_to " Delete", desktop_path(@desktop), :class => 'fa fa-trash btn btn-sm btn-danger',
                              method: :delete,
                              data: { confirm: 'Are you sure?' }%>
  </div>
  <%= link_to ' Back', desktops_path, :class => 'fa fa-reply btn btn-sm btn-dark mb-3'%>
</div>
