<html>
  <head></head>
  <body class='laptop_body'>
    <div class='dashboard_shade'>
      <%= link_to 'New Laptop', new_laptop_path,  :class => "btn btn-outline-warning mt-4"%>
      
      <hr /> 
      <div class='bg-warning shadow-lg'>
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th scope="col">Employee_ID</th>
              <th scope="col">Asset_number</th>
              <th scope="col">Name</th>
							<th scope="col">MAC_address</th>
							<th scope="col">Charger_num</th>
              <th scope="col">Comment</th>
              <th scope="col"> Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @laptops.each do |laptop| %>
              <tr>
                <td><%= laptop.emp_id %></td>
                <td><%= laptop.asset_num %></td>
                <td><%= laptop.name %></td>
								<td><%= laptop.MAC_address %></td>
								<td><%= laptop.charger_num %></td>
                <td><%= laptop.comment %></td>
                <td><%= link_to " View", laptop_path(laptop), :class => 'fa fa-eye btn btn-sm btn-info'%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>