<div class='container mt-5 bg-warning pb-4 shadow-lg'>
<div class="alert alert-secondary text-center mb-5"><strong> NEW LAPTOP </strong></div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <%= form_for :laptop, url: laptops_path do |form| %>
      <div class="row mb-3">
        <%= form.label :Employee_ID, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.text_field(:emp_id, {:class => "form-control"}) %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :Asset_number, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.text_field(:asset_num, {:class => "form-control"}) %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :Name, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.text_field(:name, {:class => "form-control"}) %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :MAC_Address, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.text_field(:MAC_address, {:class => "form-control"}) %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :Charger_num, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.text_field(:charger_num, {:class => "form-control"}) %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :images, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.file_field(:images, multiple: true, :class => "form-control") %>
        </div>
      </div>

      <div class="row mb-3">
        <%= form.label :Comment, :class=>'col-sm-3 col-form-label text-right'%>
        <div class='col-sm-9'>
          <%= form.text_area(:comment, {:class => "form-control mb-4"}) %>
          <%= form.submit({:class => "btn btn-success"}) %>
        </div>
      </div>        
    <% end %>
  </div>
  <div class="col-3">
    <% if @laptop.errors.any? %>
			<% @laptop.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger"><%= msg %></div>
			<% end %>
    <% end %>
  </div>
</div>

<%= link_to ' Back', laptops_path, :class => 'fa fa-reply btn btn-sm btn-dark' %>
</div>